.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid $border-color;
    padding: 2rem 3.5rem;
    background-color: $background-alternative-color;
    margin-top: auto;
    
    .social {
        font-size: 1.7rem;
    }
}