.header {
    flex: 0 0 auto;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.title {
    * {
        color: #111;
        text-decoration: none;
    }

    h1 {
        padding-top: 2rem;
    }

    p {
        font-style: italic;
    }
}