.me-img {
    border: 3px solid $border-color;
    margin-top: 1em;
    max-width: 250px;
}

div .logo {
    text-align: right;
    grid-column: 1;
    filter: grayscale(1)
}
 
img {
    max-width: 150px;
}

.social {
    a {
        text-decoration: none;
    }

    i {
        color: $icon-color;
    }
    
    i:hover {
        color: $hover;
    }
}


