.nav {
    grid-row: 1;

    [role=navigation] {
        grid-column: 2;
    }

    li {
        background-color: $nav-inactive;
    }

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: $font-alternative-color;
    }

    li:hover {
        background-color: $hover;
    }

    .active,
    .active:hover {
        background-color: $nav-active;
    }
}
