/* Title */
@media (max-width: 1260px) {
    .logo img  {
        max-width: 125px;
        padding-top: 1em;
    }

    .me-img,
    .zwift-img,
    .zwift-img-alt,
    .sl-img,
    .strava-img {
        padding-top: 0;
    }
}

@media (max-width: 1062px) {
    .site-header,
    .nav,
    .main {
        grid-template-columns: 1fr 3.5fr 1fr;
    }
    
    .analysis-content {
        padding: 1rem 3rem;
    }
}

@media (max-width: 770px) {
    .header,
    .nav {
        display: grid;
        grid-template-rows: 1fr;
    }

    .site-header {
        padding-top: 1rem;
    }
    
    .logo {
        grid-column: 1;
        padding-left: 3em;
    }
    
    .title {
        grid-column: 2;
    }

    .nav {
        padding: 0;
        grid-row: 2;

        ul {
            flex-direction: column;
        }

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        a {
            display: block;
            padding: 0.5em 0;
        }
    }

    .logo img  {
        max-width: 120px;
    }

    .js .nav-toggle {
        grid-column: 3;
        display: block;
        width: 2em;
        font-size: 1.5rem;
        padding: 2rem 3.5em 0 0;
        text-align: center;
        cursor: pointer;
    }

    .main {
        grid-template-columns: 0.5fr 10fr 0.5fr;
        padding: 0;
    }

    .landingpage {
        grid-template-columns: 1fr;
    }
    
    .landingpage h1{
        grid-column: 1;
    }
    
    .box {
        padding: 0;

        a {
            font-size: 0.8rem;
        }
    }

    .css {
        grid-column: 1;
        grid-row: 2;
    }
    
    .html {
        grid-column: 1;
        grid-row: 3;
    }
    
    .javascript {
        grid-column: 1;
        grid-row: 4;
    }
    
    .php {
        grid-column: 1;
        grid-row: 5;
    }
    
    .python {
        grid-column: 1;
        grid-row: 6;
    }
    
    .git {
        grid-column: 1;
        grid-row: 7;
    }
    
    .sqlite {
        grid-column: 1;
        grid-row: 8;
    }

    .single-technology {
        gap: 0;
    }

    .tech-menu {
        display: none;
    }

    .colors {
        grid-column: 1;
        grid-row: 2;
    }
    
    .load {
        grid-column: 1;
        grid-row: 3;
    }
    
    .principles {
        grid-column: 1;
        grid-row: 4;
    }

    .analysis-content {
        padding: 1rem;
        gap: 1rem;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem 0;
    }

    .gallery-grid a {
        margin: 0 auto;
    }
}

@media (max-width: 582px) {
    h1 {
        font-size: 28px;
    }

    .logo img  {
        max-width: 110px;
        padding-top: 0;
    }

    .js .nav-toggle {
        padding: 1rem 3.5em 0 0;
    }

    .site-header {
        gap: 0 1rem;
    }
}

@media (max-width: 525px) {
    h1 {
        font-size: 24px;
    }

    .logo img  {
        max-width: 100px;
    }
    
    .js .nav-toggle {
        padding: 1rem 2.5em 0 0;
    }

    .gallery-img {
        width: 300px;
    }

    .me-img {
        float: none;
        margin-bottom: 1rem;
    }
}

@media (max-width: 444px) {
    h1 {
        font-size: 20px;
    }

    .logo img  {
        max-width: 85px;
    }

    .js .nav-toggle {
        padding: 1rem 1.5em 0 0;
    }

}
