/* Fonts: 'Playfair Display 400' and 'Lato 700' */
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

/* Fonts: 'Noto Serif 400' and 'Noto Sans 700' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Noto+Serif&display=swap');

$title-font: #111;
$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #f5f5f5;

$nav-active: #699c17;
$nav-inactive: #f5f5f5;
$hover: #d3d3d3;

$border-color: #333;
$border-alternative-color: #ccc;
$icon-color: #699c17;

//$header-font: 'Lato', sans-serif;
//$main-font: 'Playfair Display', serif;

$header-font: 'Noto Sans', sans-serif;
$main-font: 'Noto Serif', serif;