{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}
            {% for page in pages("technology")|reverse if not page.hidden %}               
                <div class="box {{ page.title |lower }}">
                    <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
